<div class="container">
  <h1>Todo List</h1>

  <a class="new-task" href="/todos/new">タスクを追加する</a>

  <table>
    <thead>
      <tr>
        <th>タスク</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
        <tr>
          <td><%= todo.title %></td>
          <td>
            <%
=begin%>
 <%= link_to '編集', "/todos/edit"(todo_id: todo.id), { class: "edit"} %>
<%
=end%>
            <%= link_to '編集', "/todos/#{todo.id}/edit", { class: "edit"} %>
            <%= link_to '削除', "/todos/#{todo.id}", data: {turbo_method: :delete} %>
            <%
=begin%>
 <%= link_to '削除', "/todos/#{todo.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
<%
=end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>